<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr/>
      <h4>Why is The U.S. Healthcare Insurance System is Lagging Behind Other Industries?</h4>
      <p>The U.S. healthcare insurance industry lags behind other industries, such as retail and telecommunications, in deploying emerging technologies, including digital records, online portals, cloud-based data solutions, and decentralized, distributed solutions to legacy challenges. The upcoming years will mark the arrival and the eventual adoption of these technologies.</p>
      <p>Emerging technologies are remaking business operations and becoming integral parts of consumer’s lives. As these technologies make their way into the health industry, organizations will need to hire new talent or to partner with enterprises stocked with these skills. The 3 trillion dollar U.S. healthcare ecosystem is set for disruption at the hands of these emerging technologies and the entrepreneurs that are wielding them.</p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>What are Value-Based Medicine (VBM) Models?</h4>
      <p>The election of Donald J. Trump has ushered in a new era for the U.S. healthcare industry, which has already spent years adapting to the Affordable Care Act. A majority of consumers have concerns about the increasing lack of affordability of healthcare products and services. Despite clear policy differences, both the current and former administrations have recognized that consumers place a high priority on the cost of their care and the ability to access that care.</p>
      <p>Despite the administration changes in Washington D.C., there has been a distinct shift in the medical community and beyond that to embrace a value-based medicine model. The healthcare community has accepted this shift as a move in the right direction as far as cost savings and quality of care go. VBM focuses upon the value received from a medical procedure. The final goals of VBM are improving quality of healthcare and using healthcare resources more efficiently. The shift to VBM marks a departure from Evidence Based Medicine (EBM). EBM model generally operates with fee-for-service reimbursement which pays providers based on quantity of services rather than quality.</p>
      <p>Criticism of EBM includes its limited usefulness for individual patients, and how the model may represent a threat to the autonomy of the doctor/patient relationship, and that EBM does not adequately account for the needs of both patients and the health care system in order to provide patients with the best care at the lowest cost.</p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>What are Direct Primary Care Cost Figures?</h4>
      <p>DPC practices may reduce costs by more than 40% due to the elimination of resources otherwise allocated to medical coders, billers, clearinghouses and other vendor fees and Billing Related Costs. This means lower price points for patients. Additionally, DPC physicians prefer DPC models because of their increased availability to patients, more time for each patient encounter (which results in improved quality), and lower overhead costs and less time spent on administrative billing and documentation issues.</p>
      <p>Velocity of adoption of direct primary is increasing. Currently, out of the 41,000 primary care physicians nationwide, only 3% offer direct primary care in 2018. This is up from 2% of physicians in 2015. The most credible reason for the increase is due to new legislation being drafted and implemented. Primary care represents a $246 Billion dollar a year market in the US annually.</p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>How can healthcare be crowdsourced?</h4>
      <p>Healthcare plans mapped to services can be crowdsourced by anyone. Associations, communities and co-ops can go directly to providers for desired medical services such as primary care, elective surgery and even cosmetic. The groups can buy services upfront in bulk at a discount in a predefined time. This enables a decentralized crowdsourcing network as the pool grows.</p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>What are the differences between Direct Primary Care and Concierge Medicine?</h4>
      <p>DPC is similar to and thus has been compared to other models such as: concierge medicine, boutique health, membership medicine or retainer medicine. DPC and concierge are the most common terms.</p>
      <p>Although both DPC and concierge models: have similar legal issues; focus upon ease of access to patients’ primary care physicians; emphasize facilitation of appointments with top specialists; and focus upon coordinated care and putting an end to long wait times, for ex, there are differences between the two.</p>
      <p>Concierge medicine and DPC present different models in terms of how they approach insurance. Concierge medicine and direct primary care often get confused, because both have a subscription fee. However, in concierge medicine, patients pay for luxury medical services and access, where in DPC is a patient-provider relationship, often with a lower ‘subscription fee’ (and thus more economically friendly to patients of all financial persuasions) in which the patient purchases primary care directly from the physician, without an insurer payer, and physicians typically also provide comprehensive care and preventive services.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
